<div id="controls">
	<%= link_to '#' do %>
		<%= content_tag :i, '', :class => 'icon-play' %>
	<% end %>
	<%= link_to '#' do %>
		<%= content_tag :i, '', :class => 'icon-pause' %>
	<% end %>

	<%= link_to '#' do %>
		<%= content_tag :i, '', :class => 'icon-signout' %>
	<% end %>

</div>