<div class="modal" id="queue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>
    	<i class="icon-bullhorn"></i>
    	Currently Playing
    </h3>
  </div>

  <div class="modal-body">
	<div class="currently_playing">
		<% if @current %>
		<%= image_tag @current.cover_image, :size => "72x72", :class => 'pull-left' %>
		<h1 class="track_name">
			<%= @current.name %>
		</h1>

		<h2 class="artist_name">
			<%= @current.artists.first.name %>
			 - <%= @current.duration_string %>
		</h2>
		<% else %>
		<h2 class="nothing">
			Nothing playing...
		</h2>
		<% end %>
	</div>
  </div>

  <div class="modal-header">
    <h3>
    	<i class="icon-reorder"></i>
    	Upcoming Tracks
    </h3>
  </div>

  <div class="modal-body">
  	<%= content_tag :h2, 'Nothing Queued...', :class => "nothing" if @next.empty? %>

  	<ul id="upcoming" class="unstyled">
  		<% @next.each_with_index do |track, index| %>
  		<li>
  			<h1><span class="number"><%= index + 1 %></span> - <%= track.name %></h1>
  			<h2><%= track.artists.first.name %> (<%= track.album.name %>) - <%= track.duration_string %></h2>
  		</li>
  		<% end %>
  	</ul>
  </div>
  <div class="modal-footer">
    <button class="btn pull-left" onclick="OnTheSpot.Notification.requestAccess();" aria-hidden="true">Show Browser Notifications</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
