<% content_for :head do %>
	<meta http-equiv="refresh" content="10">
<% end %>

<div class="row-fluid">
	<div class="span12 currently_playing">
		<h1>
			<i class="icon-bullhorn"></i>
			Currently Playing
		</h1>

		<% if @current %>
		<h1 class="track_name">
			<%= @current.name %>
		</h1>

		<h2 class="artist_name">
			<%= @current.artists.first.name %>
		</h2>
		<% else %>
		<h2 class="nothing">
			Nothing playing...
		</h2>
		<% end %>
	</div>
</div>

<div class="row-fluid">
	<div class="span12 play_queue">
		<h1>
			<i class="icon-reorder"></i>
			Upcoming Tracks
		</h1>

		<%= content_tag :h2, 'Nothing Queued...', :class => "nothing" if @next.empty? %>

		<ul id="upcoming" class="unstyled">
			<% @next.each_with_index do |track, index| %>
				<li>
					<h1><span class="number"><%= index + 1 %></span> - <%= track.name %></h1>
					<h2><%= track.artists.first.name %> (<%= track.album.name %>)</h2>
				</li>
			<% end %>
		</ul>
	</div>
</div>